VITE_MAIL_PORTER_API_KEY=your-api-key-here
VITE_CONTACT_RECIPIENT_EMAIL=irbtechnology25@gmail.com
VITE_MAIL_PORTER_API_URL=https://mail-porter-navy.vercel.app/api/email/send-email/gmail
VITE_MAIL_PORTER_BRAND=irb_technology
